<%-  include('partials/header') %>

<%posts.slice().reverse().forEach(function(post){ %>
<!-- Here, we treat the posts as an array and we slice it, which we return just a shallow copy. then we reverse it and apply is to every single post. -->

<div class="blogContainer">
    <div class="blogPost">
        <h1 id="title"><%= post.title %></h1>
        <p><%=post.content %></p>
        <p id="closure">Written by <%= post.firstName%></p>
    </div>
</div>
<% }) %>



<%- include('partials/footer') %>